<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About me</title>
        <link rel="stylesheet" href="static/styles.css">
    </head>
    <body>
        <h1>Mariusz pudzianowski</h1>
        <p class="desc">Trener personalny, inaczej określany jako trener osobisty, jest specjalistą, który pomaga klientowi wykonać pierwszy krok w osiągnięciu określonego, sportowego celu. Przed przystąpieniem do wyznaczenia klientowi odpowiednich ćwiczeń, ma za zadanie przeprowadzić z nim wywiad, uwzględniający indywidualne potrzeby klienta, wskazujący drogę w kształtowaniu sylwetki i poprawie zdrowia, motywujący do treningu, a także uprawiania odpowiedniego rodzaju dyscypliny sportowej. Ustalając plan treningowy, specjalista powinien brać pod uwagę różne czynniki: doświadczenie danej osoby w uprawianiu aktywności ruchowych, jej wiek, płeć, styl życia, przebyte choroby, urazy, ogólny stan zdrowia, oczekiwania co do rezultatu, jaki chce osiągnąć </p>
        <p><a href="/">Back to Home</a></p>
</body>
</html>